.Pending p{
    background-color: orange;
    color: #fff;
    width: 110px;
    padding: 6px;
    border-radius: 7px;
    justify-self: end;
}
.Cancelled, .Completed, .Pending{
    display: flex;
    justify-content: space-around;
   
}

.Test p{
    padding-left: 50px;

}
.Completed p{
    background-color: rgb(62, 182, 62);
    color: #fff;
    width: 110px;
    padding: 6px;
    border-radius: 7px;
}

.Cancelled p{
    background-color: orangered;
    color: #fff;
    width: 110px;
    padding: 6px;
    border-radius: 7px;
}

.tRow td p{
    font-weight: 200 !important;
    
}
.patName{
    font-size: 22px;
}

.newAppointments{
    height: 60px;
  width: 200px;
  display: flex;
  background-color: #00a8db;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}