.background {
  margin: 30px auto;
  padding: 0 40px;
  font-size: 14px;
}

.mainBackground {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.mainBackground h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formInput {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.formInput input {
  padding: 10px;
  width: 100%;
}

.formInput select, textarea {
  padding: 10px;
}

.submitForm {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #00a8db;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

.label{
    font-size: 14px;
}
