.greet{
display: flex;
align-items: center;
justify-content: space-between;
}
.greet h3 {
  font-weight: bold;
  font-size: 18px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.greet img{
max-width: 35px;
margin-right: 1em;
}
.cards{
    display: grid;
    margin-left: -10px;
    grid-template-columns: 23% 23% 23% 23%;
    margin-top: 30px;
    grid-column-gap: 30px;
}
.card{
    border-radius: 20px !important;
    background-color: #fff;
    height: 155px !important;
    padding: 20px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 5px 5px 10px #eee;
  }
  .cardBody{
    display: flex;
    /* align-items: center; */
    /* padding-top: 30px; */
    flex-direction: column;
  }
  .cardBody h1{
      padding-top: 20px;
      text-align: center;
  }
  .cardBody h4 {
    font-size: 12px;
    font-weight: bold;
  }

  .card img {
    max-width: 15%;
    margin-right: 20px;
  }

.theDate{
    width: 160px;
    border-radius: 5px;
    height: 32px;
    background-color: transparent;
}