.main-content-wrap {
    display: flex;
    background-color: white;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25)
}
.profile-wrap {
    width: 80%;
}
.profile-picture {
    width: 20%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin-right: 50px;
}
.flex {
    display: flex;
}
.basic-info > div, .other-info > div {
    width: 30%;
    margin-right: 20px;
}
h2 {
    font-size: 20px;
    color: rgb(48, 48, 48);
}
hr {
    margin: 40px 0;
}
.info-item {
    margin: 20px 0;
}
.info-item p:last-child {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
div.wide {
    width: 60%;
}
.info-item-title {
    font-size: 14px;
}
.edit-profile-container {
    background-color: white;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 30px 50px;
    margin-top: 40px;
}
.input-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.form-input {
    width: 48%;
    height: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.form-input input, .form-input select{
    padding: 10px 15px;
    border: 1px solid rgb(192, 192, 192);
}
label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.submit-form {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #00a8db;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.submit-form:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00a8db;
    color: #00a8db;
}
.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-modal:hover {
    cursor: pointer;
}
.img-wrap {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
.img-preview {
    height: 100px;
    width: 100px;
    border: 1px solid rgb(192, 192, 192);
    margin-right: 10px;
}
