/* ------------------------------SIGNUP--------------------------------- */

/* ---------------------------sign up page--------------------------- */

.arrow {
  font-size: 15rem;
  margin-top: 2rem;
  color: #00a8db;
}
/* ---------------------------sign up page--------------------------- */

.remfor {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.remfor a {
  text-decoration: none;
}

.card a > button {
  padding: 1.2rem;
  margin-top: 2rem;
  font-size: 1.7rem;
  background-color: #00a8db;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

#remember-me {
  position: relative;
  top: 0.15rem;
}

.yesorno {
  height: 1.8rem;
  width: 80%;
  background-color: #00e3d5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.yes {
  position: absolute;
  height: inherit;
  width: 50%;
  background-color: #00a8db;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
}

/* -------------------------the signup NO page --------------------------- */

.no1 {
  position: absolute;
  height: inherit;
  width: 50%;
  background-color: #00a8db;
  border-radius: 0.5rem;
  top: 0;
  right: 0;
  text-decoration: none;
  z-index: 10;
}

.no1 p {
  color: #fff;
  font-weight: 500;
}

.yes1 {
  position: absolute;
  height: inherit;
  width: 50%;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 5;
}

.yes1 p {
  color: #000;
  font-weight: 500;
}

/* -------------------------the signup NO page --------------------------- */

#yes {
  background-color: inherit;
  transition: all 1s ease;
}

#yes:hover {
  background-color: #00a8db;
}

#yes p {
  color: #000;
}

.yes p {
  color: #fff;
  font-weight: 500;
}

.no {
  position: absolute;
  height: inherit;
  width: 50%;
  border-radius: 0.5rem;
  top: 0;
  right: 0;
  text-decoration: none;
  z-index: 5;
  transition: all 1s ease;
}

#no:hover {
  background-color: #00a8db;
}

.no p {
  color: #000;
  font-weight: 500;
}



